@model Giftee.Web.Models.Registration

@{
  ViewBag.Title = "Registration";
  var displayName = String.Format("{0} {1}",Model.FirstName,Model.LastName);
  var sender = System.Configuration.ConfigurationManager.AppSettings["POSTMASTER_ADDR"];
}

<fieldset>
  <legend>Registration Successful</legend>
  
  <p>Congratulations, <strong>@(displayName)</strong>!
  You have been registered with Giftee.</p>
  
  <p>In a short while, an e-mail with further information will be
  sent to you at <em>@(Model.Email)</em>. Please check to make sure any
  messages from <strong>@(sender)</strong> haven't accidentally been sucked up 
  by your spam filter.</p>

  <p>Seasons Greetings!</p>
</fieldset>
