@{
  ViewBag.Title = "My Giftee";
}

<fieldset>
  <legend>My Giftee</legend>
  <p>Apologies, <span>@(ViewBag.DisplayName)</span>, 
  but Giftee names haven't been picked yet.</p>
  <p>In the meantime, why don't you get started  
  @Html.ActionLink("building a wishlist",
                   "Gather","Wishes",
                   new{ httpMethod="GET" },
                   new{ /* ... */ })?</p>
</fieldset>

<div class="navigate">
  <p>I'd like to 
  @Html.ActionLink("change my password",
                   "Update","Passwords",
                   new{ httpMethod="GET" },
                   new{ /* ... */ }), just now.</p>
@if (User.IsInRole("Admin"))
{
  <p>I need to perform some
  @Html.ActionLink("administration",
                    "Gather","Giftors",
                    new { httpMethod = "GET" },
                    new { /* ... */ }) 
  tasks.</p>
}
</div>