@model Giftee.Web.Models.LogOn
@{
  ViewBag.Title = "GifteeDetails";
}
<h2>
  GifteeDetails</h2>

@Html.ActionLink("Change Password",
                     "Update","Passwords",new{httpMethod="GET"},new{})